body {
    background-color: #424040;
}

.flex-container {
    display: flex;
    flex-direction: row;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    background-color: #262424;
    height: fit-content;
    color: white;
    font-size: 18px;
}

.title {
    font-size: 60px;
    color: white;
    background-color: #ec3b3b;
    margin: 10px 0 10px 0;
    padding: 0 10% 0 10%;
}

img {
    max-width:100%;
    max-height: 400px;
    margin-top: 10px;
}

.content {
    border-top: 2px solid black;
}